@{
    ViewData["Title"] = "Samples";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="alert alert-info" role="alert">
    <span class="glyphicon glyphicon-apple"></span>
    Use this area to provide additional information.
</div>

<div class="alert alert-success">
    Successfully completed!
</div>

